In [1]:
str = "Hello World!"
print(str)

Hello World!

In [3]:
number=10+20-5/2
print(number)

27.5

In [4]:
age=10
print(age)

10

In [5]:
name="홍길동"
print(name)

홍길동

In [6]:
age=20
name="임꺽정"

print(age)
print(name)

20
임꺽정

In [9]:
age=age+10
print(age)

30

In [5]:
"Hello World"

'Hello World'

In [6]:
'문자열'

'문자열'

In [9]:
"{'KEY:VALUE'}"

"{'KEY:VALUE'}"

In [14]:
name = input("이름을 입력하세요: ")
greeting = "안녕하세요, 저는 " + name + " 입니다. "
print(greeting)
type(greeting)

이름을 입력하세요: 홍길동
안녕하세요, 저는 홍길동 입니다.

str

In [15]:
# 두 정수의 합 구하기

# 두 개의 정수를 변수에 저장합니다.
num1 = 5
num2 = 3

# 두 정수를 더하여 결과를 저장하는 변수를 만듭니다.
sum_result = num1 + num2

# 결과를 출력합니다.
print("두 정수의 합:", sum_result)

두 정수의 합: 8

In [16]:
# 두 정수를 입력받고 합 구하기

# 두 개의 정수를 입력받아 변수에 저장합니다.
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

# 두 정수를 더하여 결과를 저장하는 변수를 만듭니다.
sum_result = num1 + num2

# 결과를 출력합니다.
print("두 정수의 합은:", sum_result)

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 3
두 정수의 합은: 13

In [18]:
# 두 정수를 입력받고 합 구하기

# 두 개의 정수를 입력받아 변수에 저장합니다.
num1 = float(input("첫 번째 정수를 입력하세요: "))
num2 = float(input("두 번째 정수를 입력하세요: "))

# 두 정수를 더하여 결과를 저장하는 변수를 만듭니다.
sum_result = num1 + num2

# 결과를 출력합니다.
print("두 정수의 합은:", sum_result)

첫 번째 정수를 입력하세요: 2.0
두 번째 정수를 입력하세요: 1.14
두 정수의 합은: 3.1399999999999997

In [19]:
result = True
print(result)

result = False
print(result)

True
False

In [20]:
# 두 개의 정수를 입력받아 변수에 저장합니다.
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

# 서로의 값을 비교하여 True & False 를 반환 합니다.
print(num1 < num2)

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 20
True

In [21]:
# 두 개의 정수를 입력받아 변수에 저장합니다.
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

# 서로의 값을 비교하여 True & False 를 반환 합니다.
print(num1 < num2)

첫 번째 정수를 입력하세요: 20
두 번째 정수를 입력하세요: 10
False

In [25]:
# List를 생성 합니다.
# 리스트는 대괄호로 초기값을 셋팅 합니다.
numbers = []

# 몃번의 입력을 받을지 정합니다.
numbers.append(input("첫 번째 정수를 입력하세요: "))
numbers.append(input("두 번째 정수를 입력하세요: "))
numbers.append(input("세 번째 정수를 입력하세요: "))

# 결과를 확인 합니다.  
print(numbers)

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 20
세 번째 정수를 입력하세요: 30
['10', '20', '30']

In [26]:
list = [10, "홍길동", 3.1415926, 20, "임꺽정", 57.2957795, 30, "이몽룡"]
print(list)

[10, '홍길동', 3.1415926, 20, '임꺽정', 57.2957795, 30, '이몽룡']

In [27]:
# 리스트의 끝에 새로운 항목을 추가
list.append("성춘향")
print(list)
# [10, '홍길동', 3.1415926, 20, '임꺽정', 57.2957795, 30, '이몽룡', '성춘향']

[10, '홍길동', 3.1415926, 20, '임꺽정', 57.2957795, 30, '이몽룡', '성춘향']

In [45]:
# 다른 iterable(예: 리스트, 튜플)의 모든 항목을 리스트에 추가
list.extend((1, 2, 3, 4, 5))
print(list)
# [10, '홍길동', 3.1415926, 20, '임꺽정', 57.2957795, 30, '이몽룡', '성춘향', 1, 2, 3, 4, 5]


#지정한 인덱스 위치에 항목을 삽입
# list.insert(index, value)
# index = 0부터 시작한다.
list.insert(3, 15)
print(list)
# [10, '홍길동', 3.1415926, 15, 20, '임꺽정', 57.2957795, 30, '이몽룡', '성춘향', 1, 2, 3, 4, 5]


#리스트에서 포함된 특정 항목을 찾아 제거
list.remove(15) # 15 제거
print(list)
# [10, '홍길동', 3.1415926, 20, '임꺽정', 57.2957795, 30, '이몽룡', '성춘향', 1, 2, 3, 4, 5]


# 지정한 인덱스 위치의 항목을 제거하고 반환.
pop = list.pop(3)
print(pop)
# 20



#리스트에서 특정 항목의 개수를 반환.
count = list.count("홍길동") # "홍길동" 의 개수를 확인하여 반환.
print(count)
# 1



#리스트를 오름차순으로 정렬.
#list.sort() # 데이터 타입이 다른 값들이 있다면 정렬 되지 않음.
temp = [5, 1, 3, 2, 4]
temp.sort()
print(temp)
# [1, 2, 3, 4, 5]


#리스트의 얕은 복사본을 생성.
temp = list.copy()
print(temp)
# [10, '홍길동', 3.1415926, '임꺽정', 57.2957795, 30, '이몽룡', '성춘향', 1, 2, 3, 4, 5]


#리스트의 모든 항목을 제거
temp.clear()
print(temp)
# []

[10, '홍길동', 3.1415926, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[10, '홍길동', 3.1415926, 15, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[10, '홍길동', 3.1415926, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
5
1
[1, 2, 3, 4, 5]
[10, '홍길동', 3.1415926, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[]

In [48]:
# 가족 구성원의 이름과 나이를 튜플로 저장합니다.
father = ('아빠', 55)
mother = ('엄마', 53)
me = ('나', 25)
# brother
# sister

# 가족 구성원의 정보를 모아둔 튜플을 생성합니다.
family = (father, mother, me)

#a,*b=family < 2개만 풀기
a,b,c=family
print(a)
print(b)
print(c)


# 결과를 확인합니다.
print(family)

('아빠', 55)
('엄마', 53)
('나', 25)
(('아빠', 55), ('엄마', 53), ('나', 25))

In [49]:
numbers = (10, 20, 30)

#튜플의 길이(원소의 개수)를 반환.
print(len(numbers))
# 3


#튜플에서 특정 요소의 개수를 반환.
count = numbers.count(10) # 튜플을 구성하고 있는 요소들 중 10 의 개수를 확인.
print(count)
# 1


#튜플의 요소들 중 해당하는 값과 일치하는 요소의 index를 반환.
index = numbers.index(30)
print(index)
# 2
# index = 원소의 순서     예; Tuple = (10, 20, 30)  => index 10 = 0, 20 = 1, 30 = 2
# 프로그래밍에서의 숫자는 0부터 시작한다.


#튜플을 정렬한 새로운 리스트를 반환.
print(sorted((30, 40, 20, 10)))
#정렬된 리스트 <= 중요!! [리스트]를 반환!!


# 연결된 튜플을 반환.
result = numbers + (10, 20, 30, 40, 50, 60, 70, 80, 90)
print(result)
# (10, 20, 30, 10, 20, 30, 40, 50, 60, 70, 80, 90)


# 튜플 반복하여 연결
result = numbers * 3 # 3번 연결
print(result)
# (10, 20, 30, 10, 20, 30, 10, 20, 30)

3
1
2
[10, 20, 30, 40]
(10, 20, 30, 10, 20, 30, 40, 50, 60, 70, 80, 90)
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [52]:
dict = {
    "name": "홍길동",
    "phone": "010-1234-5678",
    "age": "25",
    "region": "Busan"
}

#키에 해당하는 값을 반환
name = dict.__getitem__("name")

print(dict["name"])
print(name)
# 홍길동

# "job"키와 "student"값을 dictionary에 추가
dict.__setitem__("job", "student")

# "region"키와 값을 dictionary에서 제거
dict.__delitem__("region")


# "region"키가 dictionary에 있는지 확인
check = dict.__contains__("region")
print(check)
# False


#dictionary의 크기를 반환
print(dict.__len__())
# 4


#dictionary의 복사본을 생성
temp = dict.copy()
print(temp)
# {'name': '홍길동', 'phone': '010-1234-5678', 'age': '25', 'job': 'student'}


#키에 해당하는 값을 반환하고, 키가 없으면 기본값을 반환합니다.
age = dict.get("age")
print(age)
# 25

#키와 값의 튜플을 반환
items = dict.items()
print(items)
# dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('age', '25'), ('job', 'student')])


#키의 리스트를 반환*****
print(dict.keys())
# dict_keys(['name', 'phone', 'age', 'job'])


#값의 리스트를 반환
print(dict.values())
# dict_values(['홍길동', '010-1234-5678', '25', 'student'])


#dictionary를 비운다.
dict.clear()
# 모든 데이터가 삭제 됨

# 삭제 되었는지 확인.
print(dict)

홍길동
홍길동
False
4
{'name': '홍길동', 'phone': '010-1234-5678', 'age': '25', 'job': 'student'}
25
dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('age', '25'), ('job', 'student')])
dict_keys(['name', 'phone', 'age', 'job'])
dict_values(['홍길동', '010-1234-5678', '25', 'student'])
{}

In [1]:
height = int(input("키를 입력하세요 (cm): "))

if height >= 120:
    print("놀이공원에 입장할 수 있습니다!")
else:
    print("키가 작아서 놀이공원에 입장할 수 없습니다.")

키를 입력하세요 (cm): 130
놀이공원에 입장할 수 있습니다!

In [2]:
score = int(input("시험 점수를 입력하세요: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print("학점은", grade, "입니다.")

시험 점수를 입력하세요: 80
학점은 B 입니다.

In [3]:
weather = input("오늘 날씨는 어때요? (맑음/흐림/비/눈): ")

if weather == "맑음":
    outfit = "반팔과 반바지"
elif weather == "흐림" or weather == "비":
    outfit = "긴팔과 바지"
elif weather == "눈":
    outfit = "두꺼운 옷과 장화"
else:
    outfit = "올바른 날씨 정보를 입력하세요."

print("오늘은", weather, "이니까", outfit, "를 입으세요!")

오늘 날씨는 어때요? (맑음/흐림/비/눈): 맑음
오늘은 맑음 이니까 반팔과 반바지 를 입으세요!

In [4]:
number = int(input("숫자를 입력하세요: "))

if number % 2 == 0:
    print("입력한 숫자는 짝수입니다.")
else:
    print("입력한 숫자는 홀수입니다.")

숫자를 입력하세요: 2
입력한 숫자는 짝수입니다.

In [1]:
age = int(input("나이를 입력하세요: "))

if age < 8:
    print("무료 입장입니다!")
elif age >= 8 and age < 18:
    print("청소년 할인이 적용됩니다.")
else:
    print("일반 요금이 적용됩니다.")

나이를 입력하세요: 9
청소년 할인이 적용됩니다.

In [4]:
age=int(input('나이를 입력하세요: '))

if age<8:
    print('무료 입장입니다')
elif age>=8and age<18:
    print('청소년 할인이 적용됩니다.')
else:
    print('일반 요금이 적용됩니다.')

나이를 입력하세요: 6
무료 입장입니다

In [8]:
if True:
    print('Hello World')
    print('AAAA')
print('BBBB')

Hello World
AAAA
BBBB

In [10]:
if False:
    print('Hello World')
    print('AAAA')
    
#가독성을위해 한칸 띄어줌    
print('BBBB')

#BBBB는 if문이랑 상관없음

BBBB

In [11]:
fruits = ["사과", "바나나", "딸기"]

for fruit in fruits:
    print(fruit)

사과
바나나
딸기